@import "tailwindcss";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}

.bg-primary {
  @apply bg-linear-to-r from-indigo-500 to-indigo-600;
}
.bg-secondary {
  @apply bg-indigo-400;
}
